# 7

In [8]:
def main(arg):
    arg = int(arg, 16)
    m5 = int('0b110000000000000000000000', 2)
    m4 = int('0b001000000000000000000000', 2)
    m3 = int('0b000100000000000000000000', 2)
    m2 = int('0b000011111111110000000000', 2)
    m1 = int('0b000000000000001111111111', 2)
    j5 = (arg & m5) >> 22
    j4 = (arg & m4) >> 21
    j3 = (arg & m3) >> 20
    j2 = (arg & m2) >> 10
    j1 = (arg & m1)
    res = 0
    res = res | (j5 << 22)
    res = res | (j3 << 21)
    res = res | (j1 << 11)
    res = res | (j4 << 10)
    res = res | j2
    return str(res)
    
main('0xd69ec')

1008474

# 8

In [30]:
def main(arg):
    arg = arg.replace('do variable', '')
    arg = arg.replace('done,', '')
    arg = arg.replace(' ', '')
    arg = arg.replace('\n', '')
    arg = arg.replace('|', '')
    arr = arg.split(';')
    res = []
    for s in arr:
        row = s.split("=:")
        if (len(row) > 1):
            res.append((row[1], row[0]))
    return res
    
main('| do variable usqu_458=: rari_575;done,do variable\nanatri=:onzave;done, do variable eded =:qurear_32; done,do variable\nceza_40 =: orlaza; done, |')

[('rari_575', 'usqu_458'),
 ('onzave', 'anatri'),
 ('qurear_32', 'eded'),
 ('orlaza', 'ceza_40')]