# 7

In [8]:
def main(arg):
    arg = int(arg, 16)
    m5 = int('0b110000000000000000000000', 2)
    m4 = int('0b001000000000000000000000', 2)
    m3 = int('0b000100000000000000000000', 2)
    m2 = int('0b000011111111110000000000', 2)
    m1 = int('0b000000000000001111111111', 2)
    j5 = (arg & m5) >> 22
    j4 = (arg & m4) >> 21
    j3 = (arg & m3) >> 20
    j2 = (arg & m2) >> 10
    j1 = (arg & m1)
    res = 0
    res = res | (j5 << 22)
    res = res | (j3 << 21)
    res = res | (j1 << 11)
    res = res | (j4 << 10)
    res = res | j2
    return str(res)
    
main('0xd69ec')

1008474

# 8

In [30]:
def main(arg):
    arg = arg.replace('do variable', '')
    arg = arg.replace('done,', '')
    arg = arg.replace(' ', '')
    arg = arg.replace('\n', '')
    arg = arg.replace('|', '')
    arr = arg.split(';')
    res = []
    for s in arr:
        row = s.split("=:")
        if (len(row) > 1):
            res.append((row[1], row[0]))
    return res
    
main('| do variable usqu_458=: rari_575;done,do variable\nanatri=:onzave;done, do variable eded =:qurear_32; done,do variable\nceza_40 =: orlaza; done, |')

[('rari_575', 'usqu_458'),
 ('onzave', 'anatri'),
 ('qurear_32', 'eded'),
 ('orlaza', 'ceza_40')]

# 9

In [46]:
def main(table):
    pre_res = []
    for i in range(len(table)):
        row = table[i]
        if row not in table[0:i]:
            new_row = []
            for j in range(len(row)):
                col = row[j]
                if col not in row[0:j]:
                    new_row.append(col)
                    last_col = col
            pre_res.append(new_row)
    res = [[j for j in range(len(pre_res))] for i in range(len(pre_res[0]))]
    for i in range(len(pre_res)):
        res[0][i] = f"{round(float(pre_res[i][0]), 2):.{2}f}"
        res[1][i] = pre_res[i][1].replace('+7 ', '').replace(' ', '-')
        res[2][i] = pre_res[i][2][pre_res[i][2].find(']')+1:]
    return res
    
    
table = [['0.654', '+7 451 307-5040', '+7 451 307-5040', 'zedatuk39[at]mail.ru'],
         ['0.654', '+7 451 307-5040', '+7 451 307-5040', 'zedatuk39[at]mail.ru'],
         ['0.654', '+7 451 307-5040', '+7 451 307-5040', 'zedatuk39[at]mail.ru'],
         ['0.238', '+7 221 325-4592', '+7 221 325-4592', 'zahar58[at]mail.ru'],
         ['0.815', '+7 633 558-2689', '+7 633 558-2689', 'pavel50[at]yandex.ru'],
         ['0.954', '+7 545 105-6835', '+7 545 105-6835', 'timur34[at]mail.ru']]

table2 = [['0.985', '+7 426 899-4090', '+7 426 899-4090', 'artemij76[at]mail.ru'], 
          ['0.168', '+7 657 868-4108', '+7 657 868-4108', 'buridi80[at]gmail.com'], 
          ['0.355', '+7 796 805-8048', '+7 796 805-8048', 'konstantin50[at]yandex.ru'], 
          ['0.168', '+7 657 868-4108', '+7 657 868-4108', 'buridi80[at]gmail.com'], 
          ['0.168', '+7 657 868-4108', '+7 657 868-4108', 'buridi80[at]gmail.com']]
main(table2)

[['0.98', '0.17', '0.35'],
 ['426-899-4090', '657-868-4108', '796-805-8048'],
 ['mail.ru', 'gmail.com', 'yandex.ru']]

In [ ]:
class Point:
    def __init__(self):
        self.cur = 'A'
        
    def crack(self):
        mapa = {'A':('B', 0),
               'B': ('B', -1),
               'C': ('C', -1),
               'D': ('B', 5 ),
               'E': (),
               'F': ()}